{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="article is-info is-size-2 has-text-black-bis">
    <p> Wellcome to ACCOUNTANT </p>
  </div>
</div>
<br>
<br>
<div class="container">
    <div class="columns is-centered">
       <div class="column is-5">
           <p class="bd-notification is-danger">Actual information</p>
            <br>
            <div class="notification is-info">
            <p> Actual saldo for today </p>
            <p> {{ today.strftime('%Y-%m-%d')}} </p>
            <p><strong> {{ current_saldo }} $ </strong></p>
            </div>
            <div class="box is-center">
                <a href="{{ url_for('stock') }}">Actual stock status</a>
            </div>
        </div>
        <div class="column is-5">
            <p class="bd-notification is-danger">What do you want to do?</p>
            <br>
            <div class="box is-center">
                <a href="{{ url_for('payment') }}">Payment on account</a>
            </div>
            <div class="box is-center">
                <a href="{{ url_for('purchase') }}">Buy products</a>
            </div> 
            <div class="box is-center">
                <a href="{{ url_for('sale') }}">Sell products</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}