{% extends "base.html" %}

{% block content %}
<div class="container">
  <form method="POST" action="sale" novalidate>
    {{ form.hidden_tag() }}
    <div class="columns is-centered">
       <div class="column is-5">
            {% with messages = get_flashed_messages() %} 
            {% if messages %} 
            {% for message in messages %}
                <div class="notification is-warning">
                 <a>{{ message }}</a>   
                </div>
            {% endfor %} 
            {% endif %} 
            {% endwith %}  
           <p class="bd-notification is-danger">Enter data of sale</p>

            <br>
            <div class="box is-center">
                <p> Product </p>
                <input class="input is-primary" type="text" name="product" value="{{product}}" placeholder="Product" required>
            </div>
            <div class="box is-center has-icons-right">
                <p> Quantity </p>
                <input class="input is-link" type="number" name="quantity" value="{{quantity}}" placeholder="Quantity" required>
            </div>
            <div class="box is-center">
                <p> Price </p>
                <input class="input is-danger" type="number" name="price" value="{{price}}" placeholder="Price" required>
            </div>
            <div>
                <button class="button is-inline is-block is-info is-large">Submit
                </button>
            </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}